---
import { seoConfig } from "@util/seoConfig";

---

<header class="header">
    <div class="header__logo">
        <a href="/" class="avatar">
            <img
                class="header__logo-img"
                src="/favicons/favicon.ico"
                alt="logo"
            />
        </a>
    </div>
    <div class="header__meta flex-1">
        <h3 class="header__title dark:text-theme-dark-secondary">
            <a href="/">{seoConfig.siteName}</a>
        </h3>
        <div class="header__meta-more md:flex">
            <p class="header__desc">
                {seoConfig.description}
            </p>
            <nav class="header__nav flex mt-2">
                <ul class="header__ref-list">
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex gap-4 border-b py-3 bg-secondary /* border-gray-200 dark:border-gray-700 - check styles/global.css */;
    }
    .header__logo-img {
        @apply w-16 h-16 rounded-full overflow-hidden;
    }
    .header__title {
        @apply text-4xl font-extrabold md:text-5xl text-primary;
    }
    .header__desc {
        @apply text-xl flex-1 text-primary;
    }
    .header__ref-list {
        @apply flex gap-3 text-primary;
    }
</style>
